<a href="https://colab.research.google.com/github/AmanDesai-coder/CBCA_Ndosho_Electricity_Analysis/blob/main/AmanElectricityAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NOTE: All work is based off of the kwh dataset initially created by Allison Wong.

First let's import the libraries we will need.

In [17]:
import numpy as np
import pandas as pd

Next, let's grab the dataframe from the GitHub link. If running locally, you may also use the local file path, but using the GitHub link allows you to run just this notebook without cloning the entire repo.

In [18]:
electr_df = pd.read_csv("https://raw.githubusercontent.com/AmanDesai-coder/CBCA_Ndosho_Electricity_Analysis/main/kwh-virunga.csv")
electr_df.head()

       Jour        Date  Heure  KwH Restant  Achat KwH
0  Mercredi  03-06-2020  18:30        500.0        0.0
1  Mercredi  03-06-2020  18:50        470.0        0.0
2     Jeudi  04-06-2020   8:00        420.0        0.0
3     Jeudi  04-06-2020  17:00        365.0        0.0
4  Vendredi  05-06-2020   8:00        310.0        0.0

In [19]:
electr_df["timestamp"] = electr_df["Date"] + [" "] + electr_df["Heure"]
electr_df["timestamp"] = pd.to_datetime(electr_df["timestamp"],format='%d-%m-%Y %H:%M')
electr_df.head()

       Jour        Date  Heure  KwH Restant  Achat KwH           timestamp
0  Mercredi  03-06-2020  18:30        500.0        0.0 2020-06-03 18:30:00
1  Mercredi  03-06-2020  18:50        470.0        0.0 2020-06-03 18:50:00
2     Jeudi  04-06-2020   8:00        420.0        0.0 2020-06-04 08:00:00
3     Jeudi  04-06-2020  17:00        365.0        0.0 2020-06-04 17:00:00
4  Vendredi  05-06-2020   8:00        310.0        0.0 2020-06-05 08:00:00

In [20]:
day_dict = {"Lundi" : "Monday", "Mardi" : "Tuesday", "Mercredi" : "Wednesday",
              "Jeudi" : "Thursday", "Vendredi" : "Friday", "Samedi" : "Saturday",
              "Dimanche" : "Sunday"}
electr_df['Day'] = electr_df['Jour'].apply(lambda x: day_dict[x])
electr_df = electr_df.drop('Jour', axis = 1)

The original column names are in French. We can using the pandas rename method to map these to English versions.

In [26]:
electr_df["Month"] = electr_df["timestamp"].dt.month
electr_df["Year"] = electr_df["timestamp"].dt.year
electr_df = electr_df.drop(['Date', 'Heure'], axis = 1)
electr_df

      KwH Restant  Achat KwH           timestamp        Day  Month    Year
0          500.00        0.0 2020-06-03 18:30:00  Wednesday    6.0  2020.0
1          470.00        0.0 2020-06-03 18:50:00  Wednesday    6.0  2020.0
2          420.00        0.0 2020-06-04 08:00:00   Thursday    6.0  2020.0
3          365.00        0.0 2020-06-04 17:00:00   Thursday    6.0  2020.0
4          310.00        0.0 2020-06-05 08:00:00     Friday    6.0  2020.0
...           ...        ...                 ...        ...    ...     ...
1488       288.81        0.0 2023-02-06 08:42:00     Monday    2.0  2023.0
1489        93.58        0.0 2023-02-06 17:35:00     Monday    2.0  2023.0
1490       801.06      800.0 2023-02-07 14:50:00    Tuesday    2.0  2023.0
1491       766.15        0.0 2023-02-07 17:20:00    Tuesday    2.0  2023.0
1492       611.47        0.0 2023-02-08 08:10:00  Wednesday    2.0  2023.0

[1493 rows x 6 columns]

In [25]:
electr_df

,Date,Heure,KwH Restant,Achat KwH,timestamp,Day,Month,Year
0,03-06-2020,18:30,500.00,0.0,2020-06-03 18:30:00,Wednesday,6.0,2020.0
1,03-06-2020,18:50,470.00,0.0,2020-06-03 18:50:00,Wednesday,6.0,2020.0
2,04-06-2020,8:00,420.00,0.0,2020-06-04 08:00:00,Thursday,6.0,2020.0
3,04-06-2020,17:00,365.00,0.0,2020-06-04 17:00:00,Thursday,6.0,2020.0
4,05-06-2020,8:00,310.00,0.0,2020-06-05 08:00:00,Friday,6.0,2020.0
...,...,...,...,...,...,...,...,...
1488,06-02-2023,8:42,288.81,0.0,2023-02-06 08:42:00,Monday,2.0,2023.0
1489,06-02-2023,17:35,93.58,0.0,2023-02-06 17:35:00,Monday,2.0,2023.0
1490,07-02-2023,14:50,801.06,800.0,2023-02-07 14:50:00,Tuesday,2.0,2023.0
1491,07-02-2023,17:20,766.15,0.0,2023-02-07 17:20:00,Tuesday,2.0,2023.0
1492,08-02-2023,8:10,611.47,0.0,2023-02-08 08:10:00,Wednesday,2.0,2023.0